<form>
    <div class="frappe-control input-max-width" data-fieldtype="Select" data-fieldname="annexure_b_status"
        title="annexure_b_status">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Status</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.annexure_b_status}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Select" data-fieldname="letter_from"
        title="letter_from">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter From</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input-wrapper">
                    <div class="control-input" style="display: none;"></div>
                    <div class="control-value like-disabled-input">{{doc.letter_from}}</div>
                    <p class="help-box small text-muted"></p>
                </div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Int" data-fieldname="face_value" title="face_value">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Face Value</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.face_value}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Int" data-fieldname="nominal_value"
        title="nominal_value">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Nominal Value</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.nominal_value}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control" data-fieldtype="Small Text" data-fieldname="letter_subject" title="letter_subject">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter Subject</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"><textarea type="text" autocomplete="off"
                        class="input-with-feedback form-control" data-fieldtype="Small Text"
                        data-fieldname="letter_subject" placeholder="" data-doctype="Canopi Documentation"
                        style="height: 150px;" disabled=""></textarea></div>
                <div class="control-value like-disabled-input for-description">{{doc.letter_subject}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control" data-fieldtype="Long Text" data-fieldname="letter_body" title="letter_body">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter Body</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input for-description">{{doc.letter_body}}
                </div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="company" title="company">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Company Name</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.company}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

</form>
