<form>
    <div class="frappe-control input-max-width" data-fieldtype="Select" data-fieldname="annexure_a_status"
        title="annexure_a_status">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Status</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.annexure_a_status}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Select" data-fieldname="letter_from"
        title="letter_from">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter From</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input-wrapper">
                    <div class="control-input" style="display: none;"></div>
                    <div class="control-value like-disabled-input">{{doc.letter_from}}</div>
                    <p class="help-box small text-muted"></p>
                </div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Int" data-fieldname="face_value" title="face_value">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Face Value</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.face_value}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Int" data-fieldname="nominal_value"
        title="nominal_value">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Nominal Value</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.nominal_value}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control" data-fieldtype="Small Text" data-fieldname="letter_subject" title="letter_subject">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter Subject</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"><textarea type="text" autocomplete="off"
                        class="input-with-feedback form-control" data-fieldtype="Small Text"
                        data-fieldname="letter_subject" placeholder="" data-doctype="Canopi Pre Execution Checklist"
                        style="height: 150px;" disabled=""></textarea></div>
                <div class="control-value like-disabled-input for-description">{{doc.letter_subject}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control" data-fieldtype="Long Text" data-fieldname="letter_body" title="letter_body">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Letter Body</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input for-description">{{doc.letter_body}}
                </div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="company" title="company">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Company Name</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.company}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Link" data-fieldname="cnp_registered_address"
        title="cnp_registered_address">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Registered Address</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.cnp_registered_address}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Link"
        data-fieldname="cnp_corporate_address" title="cnp_corporate_address">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Corporate Address</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.cnp_corporate_address}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Link" data-fieldname="authorised_signatory"
        title="authorised_signatory">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Authorised Signatory</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input"></div>
                <div class="control-value like-disabled-input">{{doc.authorised_signatory}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="signatory_full_name"
        title="signatory_full_name">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Full Name</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.signatory_full_name}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>

    <div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="signatory_designation"
        title="signatory_designation">
        <div class="form-group">
            <div class="clearfix">
                <label class="control-label" style="padding-right: 0px;">Designation</label>
                <span class="help"></span>
            </div>
            <div class="control-input-wrapper">
                <div class="control-input" style="display: none;"></div>
                <div class="control-value like-disabled-input">{{doc.signatory_designation}}</div>
                <p class="help-box small text-muted"></p>
            </div>
        </div>
    </div>
</form>
