<div class="address-box" style="max-height: 35rem;">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% if is_approver == 1 %}
                <th><input type="checkbox" class="approval_security_documents_post_execution_chkAll"></th>
                {% endif %}
                <th></th>
                <th>No.</th>
                <th>File name</th>
                <th>Document Code</th>
                <th>Document Name</th>
                <th>Execution Version</th>
                <th>Signing Party</th>
                <th>Signatory</th>
                <th>Location</th>
                <th style="min-width: 7rem;">Execution Date</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Send Email</th>
                <th style="min-width: 7rem">Approval If Required</th>
                <th>Send to Legal</th>
            </tr>
        </thead>
        <tbody>
            {% let k = 0 %}
            {% for (let j=0; j<st.length; j++ ){ %} <tr style="background-color: #d1d3d4;">
                <td style="padding:0rem; border-right: 1px solid #d1d3d4;">
                <td style="padding:0.4rem; text-align:start;" colspan="16"><b>{{ st[j] }}</b></td>
                </tr>
                {% for (let i=0; i<doc_data[st[j]].length; i++ ){ %} {% let doc=doc_data[st[j]] %} <tr
                    id="{%=doc[i].name%}">
                    {% if is_approver == 1 %}
                    <td>
                        {% if doc[i].status == "Pending for Approval" %}
                        <input type="checkbox" class="approval_security_documents_post_execution_chk"
                            value="{%=doc[i].name%}">
                        {% endif %}
                    </td>
                    {% endif %}

                    <td>{{ i+1 }}</td>

                    <td style="text-align: center; vertical-align: middle;"
                        id="security_documents_post_execution_f_{%=doc[i].name%}">
                        <a class="{{id}}-security_documents_post_execution-s3-download" id="{%=doc[i].file_path%}">
                            <span
                                style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>
                    </td>
                    <td>{%=doc[i].document_code%}</td>
                    <td>{%=doc[i].document_name%}</td>
                    <td>{%=doc[i].execution_version%}</td>
                    <td>{%=doc[i].signing_party%}</td>
                    {% if doc[i].signing_party == "ATSL" %}
                    <td>{%=doc[i].signatory%}</td>
                    {% else %}
                    <td>{%=doc[i].signatory_text %}</td>
                    {% endif %}
                    <td>{%=doc[i].location%}</td>
                    <td>{%=doc[i].execution_date%}</td>
                    <td>{%=doc[i].comments%}</td>
                    <td>{%=doc[i].status%}</td>
                    <td>{%=doc[i].send_email%}</td>
                    <td>{%=doc[i].approval_if_required%}</td>
                    <td>{%=doc[i].send_to_legal%}</td>
                    </tr>
                    {% k = k + 1 %}
                    {% }%}
                    {% }%}
        </tbody>
    </table>
</div>
{% if is_approver == 1 %}
<div style="margin-bottom: 10px; float: right;">
    <button class="btn btn-xs btn-default {{id}}-approval_security_documents_post_execution-approve">
        Approve
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-approval_security_documents_post_execution-reject">
        Reject
    </button>
</div>
{% endif %}
