<div class="frappe-control input-max-width" data-fieldtype="Data" data-fieldname="customer_name" title="customer_name">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">Customer Name</label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input" style="display: none;"></div>
      <div class="control-value like-disabled-input" readonly style="">{{doc.customer_name}}</div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div><div class="frappe-control" data-fieldtype="Small Text" data-fieldname="loa_subject_line" title="loa_subject_line">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">Subject Line</label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input"><textarea readonly type="text" autocomplete="off" class="input-with-feedback form-control" data-fieldtype="Small Text" data-fieldname="loa_subject_line" placeholder="" data-doctype="Canopi Documentation" style="height: 150px;">{{doc.loa_subject_line}}</textarea></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div><div class="frappe-control input-max-width" data-fieldtype="Date" data-fieldname="loa_body_date" title="loa_body_date">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">Date and Day</label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input" style="display: none;"></div>
      <div class="control-value like-disabled-input" style="">{{doc.loa_body_date }}</div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div><div class="frappe-control input-max-width" data-fieldtype="Date" data-fieldname="loa_email_date" title="loa_email_date">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">Email Dated</label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input" style="display: none;"></div>
      <div class="control-value like-disabled-input" style="">{{doc.loa_email_date}}</div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div><div class="frappe-control input-max-width" data-fieldtype="Date" data-fieldname="loa_attorney_date" title="loa_attorney_date">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">Attorney Dated </label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input" style="display: none;"></div>
      <div class="control-value like-disabled-input" style="">{{doc.loa_attorney_date}}</div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div><div class="frappe-control" data-fieldtype="Long Text" data-fieldname="loa_body" title="loa_body">
  <div class="form-group">
    <div class="clearfix">
      <label class="control-label" style="padding-right: 0px;">LOA Body</label>
      <span class="ml-1 help"></span>
    </div>
    <div class="control-input-wrapper">
      <div class="control-input" style="display: none;"></div>
      <div class="control-value like-disabled-input for-description" style="">{{doc.loa_body}}</div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div>
<p>Current LOA</p>
<div class="address-box">
    <table class="table table-bordered" style="margin-top: 5px;">
        <thead>
            <tr>
                <th style="width: 1px;"><input type="checkbox" class="{{id}}_loa_select_all"></th>
                <th>Document Name</th>
                <th>Document Section</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i
            <doc.length; i++ ){ %} {% if doc[i].status =="Open" || doc[i].status =="LOA Rejected" %} <tr>
                <td>
                    <input type="checkbox" class="{{id}}_loa_select_row" value="{{doc[i].name}}">
                    <input type="hidden" class="{{id}}_loa_select_row_doctype" value="{{doc[i].doctype}}">
                    <input type="hidden" class="{{id}}_loa_select_row_document_name" value="{{doc[i].document_name}}">

                </td>
                <td style="text-align: start; vertical-align: initial;">
                    {{doc[i].document_name}}
                </td>
                <td style="text-align: start; vertical-align: initial;">
                    {% if doc[i].security_type%}
                    {{(doc[i].doctype).replace("Canopi ","")}} - {{doc[i].security_type}}
                    {% else %}
                    {{(doc[i].doctype).replace("Canopi ","")}}
                    {% endif %}
                </td>
                </tr>
                {% endif %}

                {% }%}
        </tbody>
    </table>
</div>
<br />
<br />
<p>Generated LOA</p>
<div class="address-box">
    <table class="table table-bordered" style="margin-top: 5px;">
        <thead>
            <tr>
                <th style="width: 1px;"><input type="checkbox" class="{{id}}_generated_loa_select_all"></th>
                <th>LOA</th>
                <th>Status</th>
                <th>Document Name</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i
            <loa_history.length; i++ ){ %} {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %} <tr>
                {% else %}
                <tr style="opacity: 0.5">
                    {% endif %}

                    <td>
                        {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %}
                        <input type="checkbox" class="{{id}}_generated_loa_select_row"
                            value="{{loa_history[i].file_name}}">
                        {% endif %}

                    </td>

                    <td>
                        {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %}

                        <a class="{{id}}_loa_download" id="{%=loa_history[i].s3_key%}">
                            {{loa_history[i].file_name}}
                        </a>
                        {% else %}
                        {{loa_history[i].file_name}}
                        {% endif %}

                    </td>

                    <td style="text-align: start; vertical-align: initial;">
                        {{loa_history[i].status}}
                    </td>

                    <td style="text-align: start; vertical-align: initial;">
                        <ul>
                            {% for (let j=0; j< loa_history[i].documents.length; j++ ){ %} <li>
                                {{loa_history[i].documents[j].document_name}}</li> {% }%}
                        </ul>
                    </td>

                </tr>
                {% }%}
        </tbody>
    </table>
</div>
