{% if docstatus==0%}
<button class="btn btn-secondary pull-right {{id}}-assets_owner_details-add">
  {%= __("Edit") %}
</button>
{% endif %}
<div class="section-body">
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Asset Holder</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_asset_holder}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Relationship with Asset Owner</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.relationship_with_asset_owner}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Asset Ownership</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_asset_ownership}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Leasor Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.leasor_name}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Lease end Date</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.lease_end_date}}"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Owner Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_owner_name}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">PAN</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{ doc.pan_number }}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">LEI Name</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.lei_name }}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >ISO Country Code</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.iso_country_code}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-head">
  Asset Address
  <span class="ml-2 collapse-indicator mb-1" style="display: none"> </span>
</div>
<div class="section-body">
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Address</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <textarea
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
          >
{{doc.asset_address}}</textarea
          >
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Asset ID</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.property_id}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Address 1</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_address_1}}"
          />
        </div>
      </div>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Address 2</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_address_2}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Address 3</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_address_3}}"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">City</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.city}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">State</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.state}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Pincode</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.pincode}}"
          />
        </div>
      </div>

      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Country</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.country}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Landmark</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.landmark}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
