<button class="btn btn-xs btn-default pull-right cr-download" style="margin-top:-3px; margin-right: -5px; text-align: right">
    {%= __("Download") %}
</button>
<br><br>
<div class="address-box table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Rating Agency</th>
                <th>Rating Date</th>
                <th>Current Rating</th>
                <th>Type of loan</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i<doc.length; i++ ){ %} <tr>
                <td>{{ i+1 }}</td>
                <td>{%=doc[i].rating_agency%}</td>
                <td>{%=doc[i].rating_date%}</td>
                <td>{%=doc[i].current_rating%}</td>
                <td>{%=doc[i].type_of_loan%}</td>
                <td>{%=doc[i].currency%}</td>
                <td>{%=doc[i].amount%}</td>
                <td>{%=doc[i].status%}</td>
                <td>
                    <button class="btn btn-xs btn-default pull-right cr-edit-row"
                        style="margin-top:-3px; margin-right: 5px;">
                        {%= __("Edit") %}
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-default pull-right cr-remove-row"
                        style="margin-top:-3px; margin-right: -5px;">
                        {%= __("Remove") %}
                    </button>
                </td>
                </tr>
                {% }%}

        </tbody>
    </table>
</div>
<button class="btn btn-xs btn-default pull-left cr-add-row" style="margin-top:-3px; margin-right: -5px;">
    {%= __("Add Row") %}
</button>
