{% if docstatus==0%}
<button
  class="btn btn-sm btn-secondary pull-right {{id}}_current_asset_edit"
  style="margin-top: -3px; margin-right: -5px"
>
  {%= __("Edit") %}
</button>
{% endif %}
<div class="section-body">
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Asset</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_asset}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Sub Type</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_sub_type}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Short Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_short_name}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Description</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_description}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Value of the Asset as per Balance sheet</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.value_of_the_asset_as_per_balance_sheet}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Valuation Date</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.valuation_date}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Negative Lien on Assets</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.negative_lien_on_assets}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >NSDL</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.nsdl}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Remarks</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.remarks}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Insurance Policy Number</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.insurance_policy_number}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Name of Insurance company</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.name_of_insurance_company}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Amount</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.amount}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Beneficiary Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.beneficiary_name}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Cover</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_cover}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div>
