<div>
  <table class="table">
    <thead>
      <tr>
        <th>File name</th>
      </tr>
    </thead>
    <tbody id="date_of_im_upload_file_list"></tbody>
  </table>
</div>
{% if docstatus==0%}
<div style="margin-bottom: 10px">
  <input multiple id="{{id}}" type="file" hidden class="{{id}}-im-attach-input" />
  <a id="{{id}}" class="{{id}}-im-attach-file"
    >{{ frappe.utils.icon("attachment", "sm") }}</a
  >
  &nbsp;&nbsp;
  <button class="btn btn-xs btn-default {{id}}-im-upload-all">Upload</button>
</div>
{% endif %}
