{% if doc.name == "director_details"%}
<p>Director Info</p>
<div class="address-box">
  {% for director in doc.payload %}
  <p>
    <button
      class="btn btn-xs btn-default pull-right {{doc.id}}-director-remove"
      style="margin-top: -3px; margin-right: -5px"
    >
      {%= __("Remove") %}
    </button>
    <button
      class="btn btn-xs btn-default pull-right {{doc.id}}-director-edit"
      style="margin-top: -3px; margin-right: 5px"
    >
      {%= __("Edit") %}
    </button>
    <label>Director Name: </label>
    <label>{{director.full_name}}</label><br />
    <label>Director Designation: </label>
    <label>{{director.designation}}</label>
  </p>
  {% endfor %}
</div>
<button
  class="btn btn-xs btn-default pull-left {{doc.id}}-director-add"
  style="margin-top: -3px; margin-right: -5px"
>
  {%= __("Add") %}
</button>
{% endif %} {% if doc.name == "signatory_details"%}
<p>Signatories</p>
<div class="address-box">
  {% for signatories in doc.payload %}
  <p>
    <button
      class="btn btn-xs btn-default pull-right {{doc.id}}-signatory-remove"
      style="margin-top: -3px; margin-right: -5px"
    >
      {%= __("Remove") %}
    </button>
    <button
      class="btn btn-xs btn-default pull-right {{doc.id}}-signatory-edit"
      style="margin-top: -3px; margin-right: 5px"
    >
      {%= __("Edit") %}
    </button>
    <label>Name: </label>
    <label>{{signatories.name}}</label><br />
    <label>Designation: </label>
    <label>{{signatories.designation}}</label>
  </p>
  {% endfor %}
</div>
<button
  class="btn btn-xs btn-default pull-left {{doc.id}}-signatory-add"
  style="margin-top: -3px; margin-right: -5px"
>
  {%= __("Add") %}
</button>
{% endif %}
