<style>
    .table-container {
        overflow: auto; /* Enable scrolling */
        background-color: #ffffff;
    }
    .frappe-control .address-box {
        background-color: #ffffff;
    }

    /* Apply styles to the table header */
    .isin_table th {
        font-weight:normal;
    }
</style>
<div>Initial Investors Upload</div>

        <table class="isin_table table table-bordered">
            <thead>
                <tr>
                    <th width="10%">Sr.No</th>
                    <th width="30%">ID</th>
                    <th width="30%">CL Code</th>
                    <th width="30%">ISIN</th>
                </tr>
            </thead>
            <tbody>
                {% for (let i=0; i<doc.length; i++ ){ %}
                    <tr>
                    <td>{%=doc[i].sr_no%}</td>
                    <td>{%=doc[i].name%}</td>
                    <td>{%=doc[i].operations%}</td>
                    <td>{%=doc[i].isin%}</td>
                    </tr>
                {% } %}
            </tbody>
        </table>
