<div class="address-box" style="max-height: 35rem;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" class="condition_precedent_part_a_chkAll"></th>
                <th></th>
                <th>No.</th>
                <th>File name</th>
                <th>Document Code</th>
                <th style="min-width: 27rem;">Document Name</th>
                <th style="min-width: 7rem;">Upload Date</th>
                <th>Comments</th>
                <th>Retain/ Waive</th>
                <th style="min-width: 7rem">Send to Legal</th>
                <th>Status</th>
                <th style="min-width: 7rem">Approval If Required</th>
                <th>Send Email</th>
                {% if docstatus==0%}
                <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% let k = 0 %}
            {% for (let j=0; j<st.length; j++ ){ %} <tr style="background-color: #d1d3d4;">
                <td style="padding:0rem; border-right: 1px solid #d1d3d4;">
                <td style="padding:0.4rem; text-align:start;" colspan="12"><b>{{ st[j] }}</b></td>
                </tr>
                {% for (let i=0; i<doc_data[st[j]].length; i++ ){ %} {% let doc=doc_data[st[j]] %} <tr
                    id="{%=doc[i].name%}">
                    <td>

                        <input type="checkbox" class="condition_precedent_part_a_chk" value="{%=doc[i].name%}">

                        <input type="hidden" value="{%=doc[i].file_name%}"
                            id="{%=doc[i].name%}_condition_precedent_part_a_file_name">
                        <input type="hidden" value="{%=doc[i].file_path%}"
                            id="{%=doc[i].name%}_condition_precedent_part_a_file_path">
                    </td>

                    <td style="text-align: center; vertical-align: initial;">
                        <input id="{%=k%}" type="file" hidden
                            class="{{id}}-condition_precedent_part_a-attach-input" />
                        {% if docstatus==0%}
                        <a id="{%=k%}" class="{{id}}-condition_precedent_part_a-attach-file">{{
                            frappe.utils.icon("attachment", "sm") }}</a>
                        {% endif %}
                    </td>
                    <td>{{ i+1 }}</td>

                    <td style="text-align: center; vertical-align: middle;"
                        id="condition_precedent_part_a_f_{%=doc[i].name%}">

                        {% if doc[i].file%}
                        <a>
                            <span class=" {{id}}-preview-file"
                                style="display: inline-block; width: 8rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>
                        <br>
                        <a class="{{id}}-remove-file">
                            <span>
                                {{ frappe.utils.icon("close", "sm") }}
                            </span>
                        </a>
                        {% else %}

                        <a class="{{id}}-condition_precedent_part_a-s3-download" id="{%=doc[i].file_path%}">
                            <span
                                style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>

                        {% endif %}
                    </td>
                    <td>{%=doc[i].document_code%}</td>
                    <td>{%=doc[i].document_name%}</td>
                    <td>{%=doc[i].upload_date%}</td>
                    <td>{%=doc[i].comments%}</td>
                    <td id="{%=doc[i].name%}_condition_precedent_part_a_retain_waive">{%=doc[i].retain_waive%}</td>
                    <td>{%=doc[i].send_to_legal%}</td>
                    <td>{%=doc[i].status%}</td>
                    <td id="{%=doc[i].name%}_condition_precedent_part_a_approval_if_required">{%=doc[i].approval_if_required%}</td>
                    <td>{%=doc[i].send_email%}</td>
                    {% if docstatus==0%}
                    <td style="text-align: center; vertical-align: middle;">

                        <a id="{%=k%}" class="{{id}}-condition_precedent_part_a-edit-row">{{
                            frappe.utils.icon("edit", "sm") }}</a>

                    </td>
                    {% endif %}
                    </tr>
                    {% k = k + 1 %}
                    {% }%}
                    {% }%}
        </tbody>
    </table>
</div>
{% if docstatus==0%}
<div style="margin-bottom: 10px;">
    <button class="btn btn-xs btn-default {{id}}-condition_precedent_part_a-add">
        Add
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-condition_precedent_part_a-delete">
        Delete
    </button>&nbsp;&nbsp;

    <button class="btn btn-xs btn-default {{id}}-condition_precedent_part_a-upload-all">
        Upload
    </button>&nbsp;&nbsp;

    <span style="float: right;">
        <button class="btn btn-xs btn-default {{id}}-condition_precedent_part_a-send-to-legal">
            Send to Legal
        </button>&nbsp;&nbsp;
        {% endif %}
        <button class="btn btn-xs btn-default {{id}}-condition_precedent_part_a-email">
            <svg class="icon  icon-sm">
                <use class="" href="#icon-mail"></use>
            </svg>
        </button>&nbsp;&nbsp;
    </span>
</div>
