
<style>
    .table-container {
        overflow: auto; /* Enable scrolling */
        background-color: #ffffff;
    }
    .frappe-control .address-box {
        background-color: #ffffff;
    }

    /* Apply styles to the table header */
    .table-container table thead {
        position: sticky;
        top: -20px;
        background-color: white;
        z-index: 1;
    }
</style>
<div class="table-container">
    <div class="address-box" style="max-height: 35rem;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" class="post_execution_documents_chkAll"></th>
                    <th></th>
                    <th>No.</th>
                    <th>File name</th>
                    <th>Document Code</th>
                    <th>Document Name</th>
                    <th>Execution Version</th>
                    <th>Signing Party</th>
                    <th>Signatory</th>
                    <th>Custody Location</th>
                    <th style="min-width: 7rem;">Execution Date</th>
                    <th>Comments</th>
                    <th>Status</th>
                    <th>Send Email</th>
                    <th style="min-width: 7rem">Approval If Required</th>
                    <th>Send to Legal</th>
                    {% if docstatus==0%}
                    <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for (let i=0; i<doc.length; i++ ){ %} <tr id="{%=doc[i].name%}">
                    <td>
                        <input type="checkbox" class="post_execution_documents_chk" value="{%=doc[i].name%}">
                        <input type="hidden" value="{%=doc[i].file_name%}"
                            id="{%=doc[i].name%}_post_execution_documents_file_name">
                        <input type="hidden" value="{%=doc[i].file_path%}"
                            id="{%=doc[i].name%}_post_execution_documents_file_path">
                    </td>

                    <td style="text-align: center; vertical-align: initial;">
                        {% if docstatus==0%}
                        <input id="{%=i%}" type="file" hidden
                            class="{{id}}-post_execution_documents-attach-input" />
                        {% if doc[i].status == "Open"%}
                        <a id="{%=i%}" class="{{id}}-post_execution_documents-attach-file">{{
                            frappe.utils.icon("attachment", "sm") }}</a>
                        {% else %}
                        <a hidden id="{%=i%}" class="{{id}}-post_execution_documents-attach-file">{{
                            frappe.utils.icon("attachment", "sm") }}</a>
                        {% endif %}
                        {% endif %}

                    </td>
                    <td>{{ i+1 }}</td>

                    <td style="text-align: center; vertical-align: middle;"
                        id="post_execution_documents_f_{%=doc[i].name%}">

                        {% if doc[i].file%}
                        <a>
                            <span class=" {{id}}-preview-file"
                                style="display: inline-block; width: 8rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>
                        <br>
                        <a class="{{id}}-remove-file">
                            <span>
                                {{ frappe.utils.icon("close", "sm") }}
                            </span>
                        </a>
                        {% else %}

                        <a class="{{id}}-post_execution_documents-s3-download" id="{%=doc[i].file_path%}">
                            <span
                                style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>

                        {% endif %}
                    </td>
                    <td>{%=doc[i].document_code%}</td>
                    <td>{%=doc[i].document_name%}</td>
                    <td>{%=doc[i].execution_version%}</td>
                    <td>{%=doc[i].signing_party%}</td>
                    {% if doc[i].signing_party == "ATSL" %}
                    <td>{%=doc[i].signatory%}</td>
                    {% else %}
                    <td>{%=doc[i].signatory_text %}</td>
                    {% endif %}
                    <td>{%=doc[i].location%}</td>
                    <td>{%=doc[i].execution_date%}</td>
                    <td>{%=doc[i].comments%}</td>
                    <td>{%=doc[i].status%}</td>
                    <td>{%=doc[i].send_email%}</td>
                    <td>{%=doc[i].approval_if_required%}</td>
                    <td>{%=doc[i].send_to_legal%}</td>
                    {% if docstatus==0%}
                    {% if doc[i].status == "Open"%}
                    <td style="text-align: center; vertical-align: middle;">
                        <a id="{%=i%}" class="{{id}}-post_execution_documents-edit-row">{{
                            frappe.utils.icon("edit", "sm") }}</a>
                    </td>
                    {% endif %}
                    {% endif %}
                    </tr>
                    {% }%}
            </tbody>
        </table>
    </div>
</div>
{% if docstatus==0%}
<div style="margin-bottom: 10px;">
    <button class="btn btn-xs btn-default {{id}}-post_execution_documents-add">
        Add
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-post_execution_documents-delete">
        Delete
    </button>&nbsp;&nbsp;

    <button class="btn btn-xs btn-default {{id}}-post_execution_documents-upload-all">
        Upload
    </button>&nbsp;&nbsp;
    {% endif %}

    <span style="float: right;">
        <button class="btn btn-xs btn-default {{id}}-post_execution_documents-submit-to-checker">
            Submit To Checker
        </button>&nbsp;&nbsp;
        {% if docstatus==0%}
        <button class="btn btn-xs btn-default {{id}}-post_execution_documents-send-to-legal">
            Send to Legal
        </button>&nbsp;&nbsp;
        {% endif %}
        <button class="btn btn-xs btn-default {{id}}-post_execution_documents-email">
            <svg class="icon  icon-sm">
                <use class="" href="#icon-mail"></use>
            </svg>
        </button> &nbsp;&nbsp;
    </span>
</div>
