
<style>
    .table-container {
        overflow: auto; /* Enable scrolling */
        background-color: #ffffff;
    }
    .frappe-control .address-box {
        background-color: #ffffff;
    }

    /* Apply styles to the table header */
    .table-container table thead {
        position: sticky;
        top: -20px;
        background-color: white;
        z-index: 1;
    }
</style>
<div class="table-container">
    <div class="address-box" style="max-height: 35rem;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" class="pre_execution_documents_chkAll"></th>
                    <th></th>
                    <th>No.</th>
                    <th>File name</th>
                    <th>Document Code</th>
                    <th>Document Name</th>
                    <th style="min-width: 7rem;">Upload Date</th>
                    <th>Comments</th>
                    <th>Retain/ Waive</th>
                    <th style="min-width: 7rem">Send to Legal</th>
                    <th>Status</th>
                    <th style="min-width: 7rem">Approval If Required</th>
                    <th>Send Email</th>
                    <th style="min-width: 7rem;">For Post Execution</th>
                    {% if docstatus==0%}
                    <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for (let i=0; i<doc.length; i++ ){ %} <tr id="{%=doc[i].name%}">
                    <td>
                        {% if doc[i].for_post_execution != "Yes" %}
                        <input type="checkbox" class="pre_execution_documents_chk" value="{%=doc[i].name%}">
                        {% endif %}
                        <input type="hidden" value="{%=doc[i].file_name%}" id="{%=doc[i].name%}_pre_execution_documents_file_name">
                        <input type="hidden" value="{%=doc[i].file_path%}" id="{%=doc[i].name%}_pre_execution_documents_file_path">
                    </td>

                    <td style="text-align: center; vertical-align: initial;">
                        <input id="{%=i%}" type="file" hidden class="{{id}}-pre_execution_documents-attach-input" />
                        {% if doc[i].for_post_execution != "Yes" && docstatus==0%}
                        <a id="{%=i%}" class="{{id}}-pre_execution_documents-attach-file">{{ frappe.utils.icon("attachment", "sm") }}</a>
                        {% endif %}
                    </td>
                    <td>{{ i+1 }}</td>

                    <td style="text-align: center; vertical-align: middle;" id="pre_execution_documents_f_{%=doc[i].name%}">

                        {% if doc[i].file%}
                        <a>
                            <span class=" {{id}}-pre_execution_documents-preview-file"
                                style="display: inline-block; width: 8rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>
                        <br>
                        <a class="{{id}}-pre_execution_documents-remove-file">
                            <span>
                                {{ frappe.utils.icon("close", "sm") }}
                            </span>
                        </a>
                        {% else %}

                        <a class="{{id}}-pre_execution_documents-s3-download" id="{%=doc[i].file_path%}">
                            <span
                                style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>

                        {% endif %}
                    </td>
                    <td>{%=doc[i].document_code%}</td>
                    <td>{%=doc[i].document_name%}</td>
                    <td>{%=doc[i].upload_date%}</td>
                    <td>{%=doc[i].comments%}</td>
                    <td id="{%=doc[i].name%}_retain_waive">{%=doc[i].retain_waive%}</td>
                    <td>{%=doc[i].send_to_legal%}</td>
                    <td>{%=doc[i].status%}</td>
                    <td id="{%=doc[i].name%}_approval_if_required">{%=doc[i].approval_if_required%}</td>
                    <td>{%=doc[i].send_email%}</td>
                    <td>{%=doc[i].for_post_execution%}</td>
                    {% if docstatus==0%}
                    <td style="text-align: center; vertical-align: middle;">
                        {% if doc[i].for_post_execution != "Yes" %}
                        <a id="{%=i%}" class="{{id}}-pre-execution-documents-edit-row">{{ frappe.utils.icon("edit", "sm")
                            }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    </tr>
                    {% }%}
            </tbody>
        </table>
    </div>
</div>
{% if docstatus==0%}
<div style="margin-bottom: 10px;">

    <button class="btn btn-xs btn-default {{id}}-pre_execution_documents_add">
        Add
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-pre_execution_documents_delete">
        Delete
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-pre_execution_documents_upload-all">
        Upload
    </button>&nbsp;&nbsp;

    <span style="float: right;">

        <button class="btn btn-xs btn-default {{id}}-pre_execution_documents-initiate-post-execution">
            Initiate Post Execution
        </button>&nbsp;&nbsp;
        <button class="btn btn-xs btn-default {{id}}-pre_execution_documents-send-to-legal">
            Send to Legal
        </button>&nbsp;&nbsp;
        {% endif %}
        <button class="btn btn-xs btn-default {{id}}-pre_execution_documents-email">
            <svg class="icon  icon-sm">
                <use class="" href="#icon-mail"></use>
            </svg>
        </button>&nbsp;&nbsp;
    </span>

</div>
