{% if docstatus==0%}
<button
  class="btn btn-sm btn-secondary pull-right {{id}}_dsra_edit"
  style="margin-top: -3px; margin-right: -5px"
>
  {%= __("Edit") %}
</button>
{% endif %}
<div class="section-body">
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Asset</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_asset}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Sub Type</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_sub_type}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Value of the Asset as per Balance sheet</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.value_of_the_asset_as_per_balance_sheet}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Escrow Account No</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.escrow_account_no}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Escrow Bank Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.escrow_bank_name}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Amount to be maintained</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.amount_to_be_maintained}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div>
