<button class="btn btn-xs btn-default pull-right fininfo-download" style="margin-top:-3px; margin-right: -5px; text-align: right">
    {%= __("Download") %}
</button>
<br><br>
<div class="address-box table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Net Revenue</th>
                <th>Operating Profit ( EBITDA )</th>
                <th>Profit from Discontinuing Operation After Tax</th>
                <th>Debt / Equity</th>
                <th>Debt Securities</th>
                <th>Loans</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i<doc.length; i++ ){ %} <tr>
                <td>{{ i+1 }}</td>
                <td>{%=doc[i].net_revenue%}</td>
                <td>{%=doc[i].operating_profit%}</td>
                <td>{%=doc[i].profit_from_discontinuing%}</td>
                <td>{%=doc[i].debt_equity%}</td>
                <td>{%=doc[i].debt_securities%}</td>
                <td>{%=doc[i].loans%}</td>
                <td>
                    <button class="btn btn-xs btn-default pull-right fininfo-edit-row"
                        style="margin-top:-3px; margin-right: 5px;">
                        {%= __("Edit") %}
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-default pull-right fininfo-remove-row"
                        style="margin-top:-3px; margin-right: -5px;">
                        {%= __("Remove") %}
                    </button>
                </td>
                </tr>
                {% }%}

        </tbody>
    </table>
</div>
<button class="btn btn-xs btn-default pull-left fininfo-add-row" style="margin-top:-3px; margin-right: -5px;">
    {%= __("Add Row") %}
</button>
