{% if docstatus==0%}
<button class="btn btn-sm btn-secondary pull-right {{id}}_guarantee_edit">
  {%= __("Edit") %}
</button>
{% endif %}
<div class="section-body">
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Type of Asset</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.type_of_asset}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Sub Type</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_sub_type}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >PAN Number</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.pan_number}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Asset Short Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.asset_short_name}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Guarantor Type</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.guarantor_type}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Certificate Date</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.certificate_date}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Guarantor Name</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.guarantor_name}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Address of Guarantor</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.address_of_guarantor}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Net worth amount</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.net_worth_amount}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Valuation Agency</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.valuation_agency}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
  <div class="form-column col-sm-6">
    <div class="form-group">
      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Guarantee Provided to</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.guarantee_provided_to}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Guarantee Amount</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.guarantee_amount}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Documents Upload</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.documents_upload }}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Negative Lien on Asset</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.negative_lien_on_asset}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >NSDL</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.nsdl}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px">Remarks</label>
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.remarks}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Value of the Asset as per Balance sheet</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.value_of_the_asset_as_per_balance_sheet}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>

      <div class="clearfix">
        <label class="control-label" style="padding-right: 0px"
          >Government Order Id</label
        >
      </div>
      <div class="control-input-wrapper">
        <div class="control-input" style="display: block">
          <input
            type="text"
            autocomplete="off"
            readonly
            class="input-with-feedback form-control bold"
            placeholder=""
            value="{{doc.government_order_id}}"
          />
        </div>
      </div>
      <div
        class="control-value like-disabled-input bold"
        style="display: none"
      ></div>
      <p class="help-box small text-muted"></p>
    </div>
  </div>
</div>
