{% for (let i=0; i<doc.keys.length; i++ ){ %} <div style="margin-bottom: 1rem;">

    <div style="overflow-x: auto;">
        <label class="control-label">
            {% if docstatus==0%}
            Interest Schedule - {{doc.keys[i]}}
            {% else %}
            Interest Repayment Record - {{doc.keys[i]}}
            {% endif %}
        </label>

        <table class="table table-bordered" style="text-align: center; margin:0px !important;">
            <thead>
                <tr>
                    {% if docstatus==0%}
                    <th><input type="checkbox" class="{{doc.keys[i]}}-select-all"></th>
                    {% endif %}
                    <th>No.</th>
                    <th style="min-width: 11rem;">Tranche SL</th>
                    <th style="min-width: 11rem;">Lender Name</th>
                    {% if docstatus==1%}
                    <th style="min-width: 11rem;">Loan Link</th>
                    {% endif %}
                    <th>Repayment Installment %</th>
                    <th>Repayment Date (Months)</th>
                    <th style="min-width: 7rem">Repayment Date</th>
                    <th>Repayment Amount</th>
                    {% if docstatus==1%}
                    <th>Select Entry</th>
                    {% endif %}
                    <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for (let j=0; j<doc.details[doc.keys[i]].docs.length; j++ ){ %} <tr>

                    {% if docstatus==0%}
                    <!-- Select Row -->
                    <td style="vertical-align: initial;">
                        <input type="checkbox" class="{{doc.keys[i]}}-select-row">
                        {% endif %}

                        <!-- No. -->
                    <td class="{{doc.keys[i]}}-index-edit-row">{{ j+1 }}</td>

                    <!-- Tranche SL -->
                    <td>
                        <a href="/app/canopi-tranche-details/{{doc.details[doc.keys[i]].docs[j].tranche_sl}}">
                            {{doc.details[doc.keys[i]].docs[j].tranche_sl}}
                        </a>
                    </td>

                    <!-- Lender Name -->
                    <td>
                        <a href="/app/canopi-lender/{{doc.details[doc.keys[i]].docs[j].lender_name}}">
                            {{doc.details[doc.keys[i]].docs[j].lender_name}}
                        </a>
                    </td>

                    {% if docstatus==1%}
                    <!-- Loan Link -->
                    <td>
                        <a href="/app/loan/{{doc.details[doc.keys[i]].docs[j].loan_link}}">
                            {{doc.details[doc.keys[i]].docs[j].loan_link}}
                        </a>
                    </td>
                    {% endif %}

                    <!-- Repayment Installment %-->
                    <td>{{doc.details[doc.keys[i]].docs[j].repayment_installment}}</td>

                    <!-- Repayment Date (Months) %-->
                    <td>{{doc.details[doc.keys[i]].docs[j].repayment_in_months}}</td>

                    <!-- Repayment Date  %-->
                    <td>{{doc.details[doc.keys[i]].docs[j].repayment_date}}</td>

                    <!-- Repayment Amount  %-->
                    <td>{{doc.details[doc.keys[i]].docs[j].repayment_amount}}</td>

                    {% if docstatus==1%}
                    <!-- Select Entry  %-->
                    <td>{{doc.details[doc.keys[i]].docs[j].select_entry}}</td>
                    {% endif %}

                    <!-- Edit -->
                    <td style="vertical-align: middle;">
                        <a class="{{doc.keys[i]}}-edit-row">{{ frappe.utils.icon("edit", "sm") }}</a>
                    </td>

                    </tr>
                    {% }%}

                    {% if doc.details[doc.keys[i]].docs.length%}
                    <!-- Total -->
                    <tr>
                        <td colspan="4"><b>Total Repayment Installment %</b></td>
                        <td>{{doc.details[doc.keys[i]].total_repayment_installment}}</td>
                        <td colspan="2"><b>Total Repayment Amount</b></td>
                        <td>{{doc.details[doc.keys[i]].total_repayment_amount}}</td>
                    </tr>
                    {% endif %}

            </tbody>
        </table>

    </div>
    {% if docstatus==0%}
    <div class="grid-footer">

        <div class="grid-buttons">
            <button class="btn btn-xs btn-danger {{doc.keys[i]}}-remove-row hidden" style="box-shadow:none">
                Delete
            </button>

            <button class="btn btn-xs btn-secondary {{doc.keys[i]}}-add-row" style="box-shadow: none;">
                Add Row
            </button>

        </div>
    </div>
    </div>

    {% endif %}
    {% }%}
