<p>Current LOA</p>
<div class="address-box">
    <table class="table table-bordered" style="margin-top: 5px;">
        <thead>
            <tr>
                <th style="width: 1px;"><input type="checkbox" class="{{id}}_loa_select_all"></th>
                <th>Document Name</th>
                <th>Document Section</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i
            <doc.length; i++ ){ %} {% if doc[i].status =="Open" || doc[i].status =="LOA Rejected" %} <tr>
                <td>
                    <input type="checkbox" class="{{id}}_loa_select_row" value="{{doc[i].name}}">
                    <input type="hidden" class="{{id}}_loa_select_row_doctype" value="{{doc[i].doctype}}">
                    <input type="hidden" class="{{id}}_loa_select_row_document_name" value="{{doc[i].document_name}}">

                </td>
                <td style="text-align: start; vertical-align: initial;">
                    {{doc[i].document_name}}
                </td>
                <td style="text-align: start; vertical-align: initial;">
                    {% if doc[i].security_type%}
                    {{(doc[i].doctype).replace("Canopi ","")}} - {{doc[i].security_type}}
                    {% else %}
                    {{(doc[i].doctype).replace("Canopi ","")}}
                    {% endif %}
                </td>
                </tr>
                {% endif %}

                {% }%}
        </tbody>
    </table>
</div>
{% if !islocal %}
    {% if frappe.session.user == 'Administrator' || !frappe.user.has_role('Ops Checker') %}
    <div>
        <a class="btn btn-xs btn-default float-right {{id}}-generate-loa-button">Send for Approval</a>
    </div>
    {% endif %}
{% endif %}
<br />
<br />
<p>Generated LOA</p>
<div class="address-box">
    <table class="table table-bordered" style="margin-top: 5px;">
        <thead>
            <tr>
                <th style="width: 1px;"><input type="checkbox" class="{{id}}_generated_loa_select_all"></th>
                <th>LOA</th>
                <th>Status</th>
                <th>Document Name</th>
            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i
            <loa_history.length; i++ ){ %} {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %} <tr>
                {% else %}
                <tr style="opacity: 0.5">
                    {% endif %}

                    <td>
                        {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %}
                        <input type="checkbox" class="{{id}}_generated_loa_select_row"
                            value="{{loa_history[i].file_name}}">
                        {% endif %}

                    </td>

                    <td>
                        {% if loa_history[i].status !="Cancelled" && loa_history[i].status !="Rejected" %}

                        <a class="{{id}}_loa_download" id="{%=loa_history[i].s3_key%}">
                            {{loa_history[i].file_name}}
                        </a>
                        {% else %}
                        {{loa_history[i].file_name}}
                        {% endif %}

                    </td>

                    <td style="text-align: start; vertical-align: initial;">
                        {{loa_history[i].status}}
                    </td>

                    <td style="text-align: start; vertical-align: initial;">
                        <ul>
                            {% for (let j=0; j< loa_history[i].documents.length; j++ ){ %} <li>
                                {{loa_history[i].documents[j].document_name}}</li> {% }%}
                        </ul>
                    </td>

                </tr>
                {% }%}
        </tbody>
    </table>
</div>

<div style="margin-bottom: 10px;">
    <span style="float: right;">
        <button class="btn btn-xs btn-default {{id}}_cancel_loa">
            Cancel
        </button>
    </span>

</div>
