{% for element in doc %}
<div class="address-box">
  <p>
    <label>Industry: {{element.industry}} </label>
    <a
      href="/app/industry-type/{%= encodeURIComponent(element.industry) %}"
      class="pull-right"
    >
      <i class="fa fa-pencil"></i>
    </a>
    {% for segment in element.segments %}
    <br />
    <label>Segment: {{segment}} </label>
    <a
      href="/app/market-segment/{%= encodeURIComponent(segment) %}"
      class="pull-right"
    >
      <i class="fa fa-pencil"></i>
    </a>
    {% endfor %}
  </p>
</div>
{% endfor %}
<button
  class="btn btn-xs btn-default pull-left {{id}}-industry-add"
  style="margin-top: -3px; margin-right: -5px"
>
  {%= __("Add Industry") %}
</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button
  class="btn btn-xs btn-default pull-left {{id}}-segment-add"
  style="margin-top: -3px; margin-left: 15px"
>
  {%= __("Add Market Segment") %}
</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button
  class="btn btn-xs btn-default pull-left {{id}}-segment-create"
  style="margin-top: -3px; margin-left: 15px"
>
  {%= __("Create Market Segment") %}
</button>
