{% if frm.doc.cnp_s3_key %}
<div class="form-group">
  <div class="clearfix">
    <label class="control-label" style="padding-right: 0px"
      >Download Accepted Offer Letter</label
    >
  </div>
  <div class="control-input-wrapper">
    <div class="control-input" style="display: none"></div>
    <div class="control-value like-disabled-input bold">
      <a class="{{id}}-download">{{ filename }}</a>
      {% if frm.doc.workflow_state !="Accepted By Client" %}
      <a class="{{id}}-delete-button"
        >{{ frappe.utils.icon("delete", "sm") }}</a
      >
      {% endif %}
    </div>
  </div>
</div>
<br />
{% endif %}
<a>
  <span
    class=" {{id}}-preview-file"
    style="
      display: inline-block;
      width: 16rem;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    "
  >
    {%=file.name%}
  </span>
</a>
<br />
{% if file.name %}
<a class="{{id}}-remove-file">
  <span> {{ frappe.utils.icon("close", "sm") }} </span>
</a>
<br />
{% endif %} {% if file.name %}
<a class="btn btn-xs btn-primary {{id}}-upload">Upload Accepted Offer Letter</a>
<br /><br />
{% else %} {% if frm.doc.workflow_state !="Accepted By Client" %}
<input
  type="file"
  accept="application/pdf"
  hidden
  class="{{id}}-attach-input"
/>
{% if frappe.user.has_role('BCG RM') %}
<a class="btn btn-xs btn-default {{id}}-attach-file"
  >Attach Accepted Offer Letter</a
>
{% endif %}
<br /><br />
{% endif %} {% endif %}
