
<style>
    .table-container {
        overflow: auto; /* Enable scrolling */
        background-color: #ffffff;
    }
    .frappe-control .address-box {
        background-color: #ffffff;
    }

    /* Apply styles to the table header */
    .table-container table thead {
        position: sticky;
        top: -20px;
        background-color: white;
        z-index: 1;
    }
</style>
<div class="table-container">
    <div class="address-box" style="max-height: 35rem;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% if id && docstatus==0%}
                    <th><input type="checkbox" class="{{id}}-select-all"></th>
                    <th>{{ frappe.utils.icon("project-2", "sm") }}</th>
                    {% endif %}
                    <th>No.</th>
                    <th>Document Code</th>
                    <th>Description</th>
                    <th>File name</th>
                    <th style="min-width: 7rem;">Upload Date</th>
                    <th style="min-width: 13rem">Comments / Justification</th>
                    {% if id && docstatus==0%}
                    <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for (let i=0; i<doc.length; i++ ){ %} <tr>

                    {% if id && docstatus==0%}
                    <!-- Select Row -->
                    <td style="vertical-align: initial;">
                        {% if doc[i].track_exception != "Yes"%}
                        <input type="checkbox" class="{{id}}-select-row">
                        {% else %}
                        <input type="checkbox" class="{{id}}-select-row" hidden>
                        {% endif %}
                    </td>

                    <!-- Attachments -->
                    <td style="vertical-align: initial;">
                        <input type="file" hidden class="{{id}}-attach-input" multiple/>
                        <a class="{{id}}-attach-file">{{ frappe.utils.icon("attachment", "sm") }}</a>
                    </td>
                    {% endif %}

                    <!-- No. -->
                    <td>{{ i+1 }}</td>

                    <!-- Document Code -->
                    <td>
                        <span
                            style="display: inline-block; width: 6rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                            {%=doc[i].document_code%}
                        </span>
                    </td>

                    <!-- Description -->
                    <td>
                        <span
                            style="display: inline-block; width: 10rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                            {%=doc[i].description%}
                        </span>
                    </td>

                    <!-- File Name -->
                    <td style="vertical-align: middle;">
                        {% if doc[i].file_url%}

                            <div class="address-box" style="max-height: 5rem;">
                            {% for (let j=0; j<doc[i].file_name?.length; j++ ){ %}

                                <div style="display: inline-block;">

                                    <a  href="{{ doc[i].file_url[j] }}" target="_blank" style=" width: 10rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                        {{ doc[i].file_name[j] }}
                                    </a>
                                    <a class="{{id}}-{{i}}remove-file">
                                        <span>
                                            {{ frappe.utils.icon("close", "sm") }}
                                        </span>
                                    </a>

                                </div>
                                <br>
                            {% }%}
                            </div>
                        {% else %}

                            <div class="address-box" style="max-height: 5rem;">
                            {% for (let j=0; j<doc[i].file_name?.length; j++ ){ %}

                                <div style="display: inline-block;">
                                    <a class="{{id}}-{{i}}s3-download" target="_blank" style=" width: 10rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                        {%=doc[i].file_name[j]%}
                                    </a>
                                    <a class="{{id}}-{{i}}delete-file">
                                        <span>
                                            {{ frappe.utils.icon("delete", "sm") }}
                                        </span>
                                    </a>
                                </div>

                                <br>
                            {% }%}
                            </div>
                        {% endif %}

                    </td>

                    <!-- Upload Date -->
                    <td>{%=doc[i].upload_date%}</td>

                    <!-- Comments -->
                    <td>{%=doc[i].comments%}</td>

                    <!-- Edit -->
                    {% if id && docstatus==0%}
                    <td style="vertical-align: middle;">
                        {% if doc[i].track_exception != "Yes"%}
                        <a class="{{id}}-edit-row">{{ frappe.utils.icon("edit", "sm") }}</a>
                        {% else %}
                        <a class="{{id}}-edit-row" hidden>{{ frappe.utils.icon("edit", "sm") }}</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    </tr>
                    {% }%}

            </tbody>

        </table>
    </div>
</div>
{% if id %}
    {% if docstatus==0%}
    <button class="btn btn-xs btn-default {{id}}-add-row" style="margin-bottom: 10px">
        Add
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-upload-all" style="margin-bottom: 10px">
        Upload
    </button>&nbsp;&nbsp;
    <button type="button" class="btn btn-xs btn-default" style="margin-bottom: 10px" id="{{id}}-download" >Download as CSV</button>
    {% else %}
    <button type="button" class="btn btn-xs btn-default" style="margin-bottom: 10px" id="{{id}}-download" >Download as CSV</button>
    {% endif %}
{% endif %}
