<input type="file" hidden class="{{id}}-attach-input" />

{% if not doc.standard_template_s3_key%}
<button
  class="btn btn-secondary btn-sm {{id}}-upload-button"
  style="margin-bottom: 10px"
>
  Upload Standard Template
</button>
{% endif %} {% if doc.standard_template_s3_key%}
<div class="form-group">
  <div class="clearfix">
    <label class="control-label" style="padding-right: 0px"
      >Standard Template</label
    >
  </div>
  <div class="control-input-wrapper">
    <div class="control-input" style="display: none"></div>
    <div class="control-value like-disabled-input bold">
      <a class="{{id}}-download-button">{{filename}}</a>
      <a class="{{id}}-delete-button"
        >{{ frappe.utils.icon("delete", "sm") }}</a
      >
    </div>
  </div>
</div>
<br />
{% endif %}
