{% if status == 0 || workflow_state == "Renegotiate" %}
<button
  class="btn btn-xs btn-default pull-right {{id}}-edit-button"
  style="margin-top: -10px"
>
  {%= __("Edit") %}
</button>
{% endif %}

<br />
<div class="address-box">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Selected Product</th>
        {% if doc.no_of_securities_check == 1%}
          <th>No. of securities</th>
        {% endif %}
        {% if doc.immovable_properties_check == 1%}
          <th>Immovable properties</th>
        {% endif %}
        {% if doc.states_immovable_properties_check == 1%}
          <th>States - immovable propertiesa</th>
        {% endif %}
        {% if doc.no_of_lenders_check == 1%}
          <th>No. of Lenders</th>
        {% endif %}
        {% if doc.listed_yes_no_check == 1%}
          <th>Listed (Yes/No)</th>
        {% endif %}
        {% if doc.no_of_sellers_check == 1%}
          <th>No. of sellers</th>
        {% endif %}
        {% if doc.fund_category_check == 1%}
          <th>Fund category (I/II/III)</th>
        {% endif %}
        {% if doc.assets_check == 1%}
          <th>Assets</th>
        {% endif %}
        {% if doc.da_yes_no_check == 1%}
          <th>DA (Yes/No)</th>
        {% endif %}
        {% if doc.fund_size_in_rscr_check == 1%}
          <th>Fund size in Rs/Cr</th>
        {% endif %}
        {% if doc.payment_frequency_mqh_check == 1%}
          <th>Payment frequency (M/Q/H)</th>
        {% endif %}
        {% if doc.whether_public_issue_check == 1%}
          <th>Whether Public issue</th>
        {% endif %}
        {% if doc.value_added_services_check == 1%}
          <th>Value added services</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{doc.product_name}}</td>
        {% if doc.no_of_securities_check == 1%}
          <td>{{doc.no_of_securities}}</td>
        {% endif %}
        {% if doc.immovable_properties_check == 1%}
          <td>{{doc.immovable_properties}}</td>
        {% endif %}
        {% if doc.states_immovable_properties_check == 1%}
          <td>{{doc.states_immovable_properties}}</td>
        {% endif %}
        {% if doc.no_of_lenders_check == 1%}
          <td>{{doc.no_of_lenders}}</td>
        {% endif %}
        {% if doc.listed_yes_no_check == 1%}
          <td>{{doc.listed_yes_no}}</td>
        {% endif %}
        {% if doc.no_of_sellers_check == 1%}
          <td>{{doc.no_of_sellers}}</td>
        {% endif %}
        {% if doc.fund_category_check == 1%}
          <td>{{doc.fund_category}}</td>
        {% endif %}
        {% if doc.assets_check == 1%}
          <td>{{doc.assets}}</td>
        {% endif %}
        {% if doc.da_yes_no_check == 1%}
          <td>{{doc.da_yes_no}}</td>
        {% endif %}
        {% if doc.fund_size_in_rscr_check == 1%}
          <td>{{doc.fund_size_in_rs_cr}}</td>
        {% endif %}
        {% if doc.payment_frequency_mqh_check == 1%}
          <td>{{doc.payment_frequency}}</td>
        {% endif %}
        {% if doc.whether_public_issue_check == 1%}
          <td>{{doc.whether_public_issue}}</td>
        {% endif %}
        {% if doc.value_added_services_check == 1%}
          <td>{{doc.value_added_services}}</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>
