<div class="form-group">
    <div class="clearfix">
        <label class="control-label" style="padding-right: 0px;">{{title}}</label>
        <span class="help"></span>
    </div>
    <div class="control-input-wrapper">
        <div class="control-input" style="display: none;"></div>
        <div class="control-value like-disabled-input bold">
            <a data-name="{{value}}" data-value="{{value}}">
                {{value}}</a>
        </div>
        <p class="help-box small text-muted"></p>
    </div>
</div>
