
<style>
    .table-container {
        overflow: auto; /* Enable scrolling */
        background-color: #ffffff;
    }
    .frappe-control .address-box {
        background-color: #ffffff;
    }

    /* Apply styles to the table header */
    .table-container table thead {
        position: sticky;
        top: -20px;
        background-color: white;
        z-index: 1;
    }
</style>
<div class="table-container">
    <div class="address-box" style="max-height: 35rem;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" class="sebi_application_chkAll"></th>
                    <th>{{ frappe.utils.icon("project-2", "sm") }}</th>
                    <th>No.</th>
                    <th>Document Code</th>
                    <th>Description</th>
                    <th>File name</th>
                    <th style="min-width: 7rem;">Upload Date</th>
                    <th style="min-width: 13rem">Comments / Justification</th>
                    <th>Send to Legal</th>
                    <th style="min-width: 7rem">Purpose of Legal</th>
                    {% if docstatus==0%}
                    <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for (let i=0; i<doc.length; i++ ){ %} <tr id="{%=doc[i].name%}">
                    <td>
                        <input type="checkbox" class="sebi_application_chk" value="{%=doc[i].name%}">
                        <input type="hidden" value="{%=doc[i].file_name%}"
                            id="{%=doc[i].name%}_sebi_application_file_name">
                        <input type="hidden" value="{%=doc[i].file_path%}"
                            id="{%=doc[i].name%}_sebi_application_file_path">
                    </td>

                    <td style="text-align: center; vertical-align: initial;">
                        {% if docstatus==0%}
                        <input id="{%=i%}" type="file" hidden
                            class="{{id}}-sebi_application-attach-input" />

                        <a id="{%=i%}" class="{{id}}-sebi_application-attach-file">{{
                            frappe.utils.icon("attachment", "sm") }}</a>

                        {% endif %}

                    </td>
                    <td>{{ i+1 }}</td>
                    <td>{%=doc[i].document_code%}</td>
                    <td>{%=doc[i].document_name%}</td>
                    <td style="text-align: center; vertical-align: middle;"
                        id="sebi_application_f_{%=doc[i].name%}">

                        {% if doc[i].file%}
                        <a>
                            <span class=" {{id}}-preview-file"
                                style="display: inline-block; width: 8rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>
                        <br>
                        <a class="{{id}}-remove-file">
                            <span>
                                {{ frappe.utils.icon("close", "sm") }}
                            </span>
                        </a>
                        {% else %}

                        <a class="{{id}}-sebi_application-s3-download" id="{%=doc[i].file_path%}">
                            <span
                                style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                                {%=doc[i].file_name%}
                            </span>
                        </a>

                        {% endif %}
                    </td>

                    <td>{%=doc[i].upload_date%}</td>
                    <td>{%=doc[i].comments%}</td>
                    <td id="{%=doc[i].name%}_sebi_application_send_to_legal">{%=doc[i].send_to_legal%}</td>
                    <td id="{%=doc[i].name%}_sebi_application_purpose_of_legal">{%=doc[i].purpose_of_legal%}</td>
                    {% if docstatus==0%}

                    <td style="text-align: center; vertical-align: middle;">
                        <a id="{%=i%}" class="{{id}}-sebi_application-edit-row">{{
                            frappe.utils.icon("edit", "sm") }}</a>
                    </td>

                    {% endif %}
                    </tr>
                    {% }%}
            </tbody>
        </table>
    </div>
</div>
{% if docstatus==0%}
<div style="margin-bottom: 10px;">
    <button class="btn btn-xs btn-default {{id}}-sebi_application-add">
        Add
    </button>&nbsp;&nbsp;
    <button class="btn btn-xs btn-default {{id}}-sebi_application-delete">
        Delete
    </button>&nbsp;&nbsp;

    <button class="btn btn-xs btn-default {{id}}-sebi_application-upload-all">
        Upload
    </button>&nbsp;&nbsp;
    {% endif %}

    <span style="float: right;">
        {% if docstatus==0%}
        <button class="btn btn-xs btn-default {{id}}-sebi_application-send-to-legal">
            Send to Legal
        </button>&nbsp;&nbsp;
        {% endif %}
        <button class="btn btn-xs btn-default {{id}}-sebi_application-email">
            <svg class="icon  icon-sm">
                <use class="" href="#icon-mail"></use>
            </svg>
        </button> &nbsp;&nbsp;
    </span>
</div>
