{% if id%}
<div class="address-box" style="max-height: 35rem;">
    <table class="table table-bordered border-4" style="text-align: center;">
        <thead>
            <tr>
                <th><input type="checkbox" class="{{id}}-select-all"></th>
                <th>No.</th>
                <th>Name Of Document</th>
                <th>File Upload</th>
                <th>{{ frappe.utils.icon("setting-gear", "sm") }}</th>

            </tr>
        </thead>
        <tbody>
            {% for (let i=0; i<doc.length; i++ ){ %} <tr>
                <!-- Select Row -->
                <td style="vertical-align: initial;">
                    <input type="checkbox" class="{{id}}-select-row">
                </td>

                <!-- No. -->
                <td>{{ i+1 }}</td>

                <!-- Name Of Document -->
                <td style="vertical-align: middle;">
                    {{doc[i].name_of_document}}
                </td>

                <!-- File Upload -->
                <td style="vertical-align: middle;">

                    {% if doc[i].s3_key%}

                    <a class="{{id}}-file-download">
                        <span
                            style="width: 8rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block;">
                            {%=doc[i].file_name%}
                        </span>
                    </a>

                    <!-- hide every other icons -->
                    <a class=" {{id}}-preview-file" hidden> </a>
                    <a class="{{id}}-remove-file" hidden></a>
                    <input type="file" hidden class="{{id}}-attach-input" />
                    <a class="{{id}}-attach-file" hidden></a>

                    {% else %}

                    {% if doc[i].file%}
                    <a>
                        <span class=" {{id}}-preview-file"
                            style="display: inline-block; width: 8rem; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
                            {%=doc[i].file_name%}
                        </span>
                    </a>
                    <br>
                    <a class="{{id}}-remove-file">
                        <span>
                            {{ frappe.utils.icon("close", "sm") }}
                        </span>
                    </a>

                    <!-- hide every other icons -->
                    <a class="{{id}}-file-download" hidden></a>
                    <input type="file" hidden class="{{id}}-attach-input" />
                    <a class="{{id}}-attach-file" hidden></a>

                    {% else %}

                    <input type="file" hidden class="{{id}}-attach-input" />
                    <a class="{{id}}-attach-file">{{ frappe.utils.icon("attachment", "sm") }}</a>

                    <!-- hide every other icons -->
                    <a class=" {{id}}-preview-file" hidden> </a>
                    <a class="{{id}}-remove-file" hidden></a>
                    <a class="{{id}}-file-download" hidden></a>

                    {% endif %}
                    {% endif %}
                </td>

                <!-- Edit -->
                <td style="vertical-align: middle;">
                    <a class="{{id}}-edit-row">{{ frappe.utils.icon("edit", "sm") }}</a>
                </td>

                </tr>
                {% }%}
        </tbody>
    </table>
</div>

<div class="position-relative h-100">
    <div style="top: 0; left: 0; margin-bottom: 5px">
        <button class="btn btn-xs btn-default {{id}}-add-row">
            Add
        </button>&nbsp;&nbsp;
        <button class="btn btn-xs btn-default {{id}}-remove-row">
            Remove
        </button>&nbsp;&nbsp;

        <button class="btn btn-xs btn-default {{id}}-upload-all">
            Upload
        </button>
    </div>
</div>

{% endif %}
