<div>
  <table class="table">
    <thead>
      <tr>
        <th>File name</th>
      </tr>
    </thead>
    <tbody id="file_list"></tbody>
  </table>
</div>
<div style="margin-bottom: 10px">
  <input multiple id="{{id}}" type="file" hidden class="{{id}}-attach-input" />
  <a id="{{id}}" class="{{id}}-attach-file"
    >{{ frappe.utils.icon("attachment", "sm") }}</a
  >
  &nbsp;&nbsp;
  <button class="btn btn-xs btn-default {{id}}-upload-all">Upload</button>
</div>
