:root {
  --primary: #97144d;
  --checkbox-gradient: linear-gradient(
    180deg,
    #ed1164 -124.51%,
    var(--primary) 100%
  );
}

.address-box {
  overflow-y: auto;
  max-height: 20em;
  min-height: 3em;
}

.table-container {
  overflow-x: auto;
  max-height: 50rem;
}

.btn-primary {
  background-color: #ed1164 !important;
}

.title-text {
  color: var(--white) !important;
}

html,
body,
.page-container,
.overlay-sidebar {
  background-color: #d1d3d4 !important;
}

.widget.onboarding-widget-box
  .widget-body
  .onboarding-step
  .step-index.step-skipped,
.page-head,
.page-head.drop-shadow {
  background-color: var(--primary) !important;
}

.widget.onboarding-widget-box
  .widget-body
  .onboarding-step
  .step-index.step-skipped
  svg {
  stroke: var(--white);
}
